= form_for @pem_file do |f|
  - if @pem_file.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pem_file.errors.count, "error")} prohibited this pem_file from being saved:"
      %ul
        - @pem_file.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :status
    = f.number_field :status
  .field
    = f.label :key
    = f.text_area :key
  .field
    = f.label :cer
    = f.text_area :cer
  .actions
    = f.submit 'Save'
