!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Pem
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    / Dropdown user
    %ul#dropdownUser.dropdown-content
      %li
        %a{:href => "/logout"} Cerrar sesión

    %header
      %nav
        .nav-wrapper
          %ul.left
            %li
              %a{href:'/'}
                =image_tag 'logo-pem.png', alt:'Logo PEM'
            %span.black-text PEM
          %ul.right
            %li
              %a.avatar.dropdown-trigger{"data-target" => "dropdownUser"}
                =image_tag session[:user_image], class:'circle', alt:'avatar'
    .container
      = yield


/ Mensajes
-if alert
  :javascript
     M.toast({html: '#{alert}', classes: 'orange darken-2'})
-if notice
  :javascript
    M.toast({html: "#{notice}", classes: 'rounded'})


:javascript
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems, {hover:true, coverTrigger:false, constrainWidth:false});
    var elems = document.querySelectorAll('.tooltipped');
    var instances = M.Tooltip.init(elems, {});
  });